{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Main page{% endblock %} | Django-Docker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
  </head>
  <body>
  <section class="section">
      {% include "includes/navbar.html" %}
    <div class="container">
      <h1 class="title">
        {% block header %}Main Page{% endblock %}
      </h1>

        {% block content %}
            <!-- Place content in content block -->
        {% endblock content %}
    </div>
  </section>
  </body>
</html>