{% extends "base.html" %}

{% block title %}Django-Docker{% endblock %}
{% block header %}{% endblock %}

{% block content %}


    <article class="message is-info">
        <div class="message-header">
            <p>Fascinating Django-Docker</p>

        </div>
        <div class="message-body">
            <p class="content">
                All-in-one package you need to fast develop web apps.</p>
            <p class="content">
            <img src="static/django-docker-sea.png"
                 class="img-fluid border rounded-3 shadow-lg mb-4" alt="Django-Docker"
                 width="700" height="500" loading="lazy"></p>
        </div>
    </article>
{% endblock %}
