{% extends "base.html" %}

{% block title %}Django-Docker{% endblock %}
{% block header %}{% endblock %}

{% block content %}
{% load markdownify %}

    <article class="message is-info">
    <div class="message-header">
        <p>Version 2.0</p>

    </div>
    <div class="message-body">
    <p class="content">
        New Django-Docker version now uses Bulma.io for rendering styles.</p>
    </div>
    </article>
    <div class="content">
    {{ markdowntext|markdownify }}
    </div>
{% endblock %}
